<div class="container profile-container mt-4">

    <div class="card profile-card shadow-lg">

        <!-- Header del perfil -->
        <div class="profile-header text-center p-4">

            <img [src]="user()?.avatar" class="profile-avatar mb-3" alt="avatar">

            <h3 class="mb-0">Elías Charadía</h3>
        </div>

        
        <!-- Info -->
        <div class="card-body">
            <hr>

            <h5 class="mb-3">Sobre mí</h5>
            <p>
                Amante del rock, guitarrista autodidacta y fan de las bandas clásicas.
                Buscando conectar con músicos y compartir publicaciones.
            </p>

            <hr>

            <!-- Stats -->
            <div class="row text-center">

                <div class="col">
                    <h6>Publicaciones</h6>
                    <strong>12</strong>
                </div>

                <div class="col">
                    <h6>Seguidores</h6>
                    <strong>240</strong>
                </div>

                <div class="col">
                    <h6>Siguiendo</h6>
                    <strong>180</strong>
                </div>

            </div>

            <hr>

            <!-- Botón -->
            <div class="text-center">
                <button class="btn btn-dark px-4">
                    Editar perfil
                </button>
            </div>

        </div>
    </div>

</div>