body {
  background: #000;

}


.comentario-costum{
  color: #a3835c;
  
}

.custom-btn{
  height: 50px;

    font-size: 1rem;

    font-weight: 600;

    border-radius: 12px;

    transition: all .3s;

    background-color: #c3903e;
    border-color: #945d1b;
}

.custom-btn:hover {

    transform: translateY(-2px);
}

.custom-btn:active{
  background-color: #945d1b;
  transform: scale(0.98);
  border-color: rgba(255,200,61,.4);
}


.custom-input {

    background: rgba(255,255,255,.08);

    border: 1px solid rgba(255,255,255,.15);

    color: white;
}

.custom-input::placeholder {

    color: rgba(255,255,255,.5);
}

.custom-input:focus {

    background: rgba(255,255,255,.12);

    color: white;

    border-color: rgb(255, 200, 61);

    box-shadow:
        0 0 0 .2rem rgba(255,200,61,.25);
}

.posts-container {
  max-width: 700px;
  position: relative;
  z-index: 1;
}

h3{
  color: #c3903e;
}

/* FORMULARIO */
.post-form {

  position: relative;
  z-index: 2;
  border-radius: 15px;
  overflow: hidden;
  border: none;

  border-radius: 12px;
  background: #1a1a1a;
  color: #c3903e;
}

/* CARD POST */
.post-card {

  position: relative;
  z-index: 2;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  background: #1a1a1a;

  backdrop-filter: blur(20px);

  border-radius: 12px;
  color: #c3903e;
  border: 1px solid #2a2a2a;

  box-shadow:
    0 15px 35px rgba(0,0,0,.3);
}

/* IMAGEN */
.post-image {
  width: 100%;
  /* width:50px; height:50px; */
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* COMENTARIOS */
.comment-box {
  background: #1f1f1f;
  padding: 6px 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}