/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Inter', sans-serif;
    background: url("/white-grunge-texture-primed-canvas_1194-5700.avif") no-repeat center center fixed;
    background-size: cover;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.199);
  z-index: 0;
}